@charset "UTF-8";

body{
  text-align: center;
  background-image: url("wt.jpg");
 
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
